/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  body {
      font-family: Arial, Helvetica, sans-serif;
      background: rgb(52,52,52);
background: -moz-linear-gradient(180deg, rgba(52,52,52,1) 0%, rgba(40,40,40,1) 30%, rgba(6,6,6,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(52,52,52,1) 0%, rgba(40,40,40,1) 30%, rgba(6,6,6,1) 100%);
background: linear-gradient(180deg, rgba(52,52,52,1) 0%, rgba(40,40,40,1) 30%, rgba(6,6,6,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434",endColorstr="#060606",GradientType=1);
  }

  .topnava {
      overflow: hidden;
      background-color: #333;
      position: relative;
      z-index: 1000;
      height: 50px;
  }

  .topnava #myLinks {
      position: fixed;
      background-color: black;
      right: 0;
      display: none;
      text-align: center
  }

  .topnava a {
      color: #A7A7A7;
      padding: 12px;
      text-decoration: none;
      font-size: 17px;
      display: block;
  }

  .topnava a.icon {
      background: #A7A7A7;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }

  .active {
      background-color: #4A4A4A;
      color: white;
  }

  a.icon:hover {
      background-color: darkgrey;
  }

  a:hover {
      background-color: grey;
      color: white;
  }

.navbar {
    overflow: hidden;
    background-color: #4A4A4A;
    height: 50px;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-right: 8px;
}

.dropdown .dropbtn {
    font-size: 35px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p {
    text-align: left;
    margin: 10px 0px 10px 0px;
}

.logos {
    margin-top: -5px;
}

.center {
    text-align: center;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5.5vw;
    color: #000000;
}

.mon {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 4vw;
    padding-bottom: 20px;
}

.monb {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20vw;
    padding-bottom: 20px;
    color: #000000;
}

.mon1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.mon2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
}

.monh {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
}

.undertext {
    box-sizing: border-box;
    padding: 10px;
    background-color: #BFBFBF;
    opacity: 90%;
    color: #000000;
    text-align: center;
}

.wrapper {
    width: 100%;
    overflow: visible;
}
.wrapper2 {
    width: 100%;
    overflow: visible;
    padding-bottom: 20px
}

.headerwrap {
    width: 100%;
    overflow: auto;
}

.upper {
    box-sizing: border-box;
}

body {
    background-color: #2B2B2B;
    ;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.left {
    float: left;
}

.center {
    float: center;
}

.right {
    float: right;
}

.responsive {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
}

.hcontainer {
    padding: inherit;
    color: black;
}


.content {
    margin-top: 0px;
}

.contenta {
    margin-top: 30px;
    margin-bottom: 100px;
}

.content2 {
    margin-top: -25px;
    margin-bottom: -90px;
}

.ncontainer {
    position: relative;
    text-align: center;
    color: black;
}

.ncontent {
    margin-top: 0px;
}

.nwrapper {
    width: 100%;
    overflow: auto;
}

.content1 {
    margin-top: 0px;
}

.heading {
    margin: 0px 0px 100px 0px;
    background-color: #BFBFBF;
    padding: 3px 7px 3px 7px;
    color: black;
    opacity: 90%;

}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered3 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered4 {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title  {
    background-color: #BFBFBF; 
    width: 25vw;
    padding: 5px;
    margin: -30px auto 0px;
    color: #000000;
}

.info {
     background-color: #BFBFBF; 
    margin: 20px auto 0px;
    width: 90%;
    height: 85vw;
    padding: 8px;
    color: #000000;
    text-align: left;
    overflow: scroll;
    
}

hr {
    position: relative;
    top: 30px;
    width: 86%;
    margin: auto;
    border: none;
    height: 4px;
    background: #BFBFBF;
    margin-bottom: 50px;

}

@media only screen and (max-width: 450px) {
        /* Red 
    }
}

/* Tablet Styles */
@media only screen and (min-width: 450px) and (max-width: 900px) {
    
}
